.seve{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-left: 0%;
    padding-top: 0%;
    width: 50px;
    height: 50px;
}
body{
    background-color: purple
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    padding: 0%;
    margin: 0;

}

h1{
    font-size: 30;
    color: blue;
    margin: 0 0 0 8px;
    padding: 0;
    padding-top: 8px;
}
.navbar{
    background-color:gray;
    display: flex;
    padding: -10%;
}
.rx7{
    width: 100px;
    height: 100px;

}